*{
    cursor: url(img/salmon-cursor.png), auto;
}
body{
    background-color: bisque;
    font-family: serif;
    
}

#seattle{
    /* border: black 2px dotted; */
    position: fixed;
   width: 60%;
   height:60%;
   bottom: 0px;
   z-index: -1;
}
.storeName {
    font-size: 24px;
    text-decoration: black underline;
}

#storeH{
    font-family: 'Shadows Into Light', cursive;
    font-size: 200%;
    /* border: black 1px dotted; */
    text-decoration: underline;
  
    width: 40%;
    position: absolute;
    left: 58%;
    top: 50%
}

#storeUL{
    
    list-style: disc;
    position: absolute;
    left: 70%;
    top: 60%;
    display: block;
    font-size: 140%;
    font-family: 'Indie Flower', cursive;
}

#navBar {
    font-family: 'IBM Plex Mono', monospace;

    /* border: black 2px dotted; */
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    list-style-type: none;
    margin: 25px auto;
    padding: 0;
    text-align: center;
    width: 200px;
    /* background-color: #f1f1f1; */
    z-index: +1;
}


li a {
    

    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #dddddd;
    padding: 8px 16px;
    z-index: +1;
}

li a:hover{
    background-color: #555;
    color: white;
}

ls {
    text-align: center
}
ul {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


#firstSalmon {
    /* transform: rotate(-90deg); */
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}
/* #secondSalmon {
    transform: rotate(-90deg);
    margin-left: 100px;
    margin-top: 0px;
} */

#welcome {
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 300%;
}

#introP {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 150%
}

#salesTable{
    /* border: black dotted 1px */
}

table{
    font-family: 'IBM Plex Mono', monospace;

    padding:300px;
    margin: auto;
}
td {
    background-color: white;
    padding: 10px;
    margin: 20px;
    
    border: black solid 2px;
    
}

tr{
    margin: auto;
}

.storeTableNames{
    text-decoration: underline;
    /* position: absolute; */
    /* margin-left: 0px; */
}
